form{
    text-align: center;
    padding-bottom: 50px;
}
.container-textField{
    margin-top: 50px;

}

.custom-textField{
    margin-bottom: 5px;
    text-align: center;
    margin-top: 10px;
}

.custom-button{
    margin-top: 15px !important;
    width: 18% !important;

}